<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="eeb30b9c-57ec-4647-9b19-fe401a82d0c3" Publisher="CN=Jain" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MySpaceInvanders.Windows</DisplayName>
    <PublisherDisplayName>Jain</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MySpaceInvanders.Windows.App">
      <m2:VisualElements DisplayName="MySpaceInvanders.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="MySpaceInvanders.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>